<div class="p-16">
    <div class="text-center">
        <button mat-raised-button color="primary" class="large-button" [disabled]="startButtonDisabled"
            [ngClass]="{'my-button-disabled': startButtonDisabled}" (click)="startGame()">{{startButtonMsg}}</button>
    </div>
    <div *ngIf="isStartGame">
        <div class="grid p-16">
            <app-game-card *ngFor="let c of cards; let idx=index" [data]="c" (cardClicked)="cardClicked(idx)">
            </app-game-card>
        </div>
        <!-- <div class="text-center p-16">
            <mat-card class="countdown-card">
                <mat-card-content>
                    <p>Seconds: {{ (countdownMs / 1000) | number: '1.0-0' }}</p>
                    <p>Milliseconds: {{ countdownMs | number: '1.0-0' }}</p>
                </mat-card-content>
            </mat-card>
        </div> -->
    </div>
</div>