<div class="text-center" style="margin-top: 10px;">
    <h2>Your last score: <p class="score">{{lastScore}}</p></h2>
</div>
<div class="text-center">
    <h2>Your best score: <p class="score">{{bestScore}}</p></h2>
</div>


<div class="table-container">
<table mat-table [dataSource]="scores" class="table">
    <ng-container matColumnDef="score">
        <th mat-header-cell *matHeaderCellDef> Score </th>
        <td mat-cell *matCellDef="let score"> {{score.score}} </td>
    </ng-container>
    <ng-container matColumnDef="data">
        <th mat-header-cell *matHeaderCellDef> Data </th>
        <td mat-cell *matCellDef="let score"> {{score.data ? score.data.toLocaleString() : ''}} </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true" ></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
</div>