<div class="container">
    <mat-card class="login-card">
        <mat-card-header>
        </mat-card-header>
        <div class="text-center">
            <img class="logo" src="assets/logo.png">
        </div>
        <mat-divider></mat-divider>
        <div class="text-center">
            <mat-card-content>
                <mat-form-field appearance="fill">
                    <mat-label>Your Nickname</mat-label>
                    <input matInput [(ngModel)]="name" required>
                </mat-form-field>
            </mat-card-content>
        </div>
        <div *ngIf="showMessageUserDE" class="text-center">
            User doesn't exist
        </div>
        <div *ngIf="showMessageUserAE" class="text-center">
            User already exists
        </div>
        <mat-card-actions align="end">
            <button mat-raised-button color="accent" class="m-8" (click)="login()">LOGIN</button>
            <button mat-raised-button color="accent" class="m-8" (click)="signUp()">SIGN UP</button>
        </mat-card-actions>
    </mat-card>
</div>