.mat-drawer-container {
    background-color: lightgray;
}


mat-sidenav {
    margin: 16px;
    width: 200px;
    border-right: none;
    background: #3f51b5;
    color: white;
    border-radius: 10px;
    padding: 16px;
    text-align: center;
}


mat-sidenav-container {
    height: calc(100vh - 65px);
}


.content {
    height: calc(100vh - 130px);
    border-radius: 10px;
    margin: 16px;
    padding: 16px;
    overflow: auto;
    background-color: rgba(255, 255, 255, 0.74);
}


.menu-button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 1rem;

    mat-icon {
        margin-right: 8px;
        color: white;
    }

    span {
        color: white;
    }
}


.avatar {
    margin-top: 16px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}


.logo {
    width: auto;
    height: 75px;
}


.name {
    margin-top: 10px;
    font-weight: bold;
}


mat-divider {
    margin-top: 16px;
    margin-bottom: 16px;
    background-color: rgba(255, 255, 255, 0.5);
}


@media (min-width: 960px) {
    .content {
        margin-left: 32px;
    }


}